::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  overflow: overlay;
}

header {
  position: fixed;
  width: 100%;
  padding: 1em 1em;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 0 1em;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

.nav-item a {
  color: gray;
}

.nav-item a:hover {
  color: white;
}

img {
  width: 100%;
  border-radius: 1em;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

p,
span,
a {
  line-height: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
ol,
li {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
}

.card {
  width: 100%;
  max-width: 30em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(77, 77, 77, 0.5);
  backdrop-filter: saturate(180%) blur(7px);
  -webkit-backdrop-filter: saturate(180%) blur(7px);
}

/* .card > *:not(img) {
  margin-inline: 4px;
} */

.nav-bar {
  display: block;
  margin: auto;
}

.nav-list {
  gap: 1em;
  flex-wrap: wrap;
}

.nav-item {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
}

#title {
  font-size: clamp(1rem, 15vw, 10rem);
  font-weight: 900;
  text-align: center;
}

.animation-section {
  height: 400vh;
}

.source {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.3);
  margin-block: 0.5em;
}

.source a {
  color: rgba(255, 255, 255, 0.3);
}
.source a:hover {
  color: white;
}

@media (min-width: 1024px) {
  header {
    padding: 2em 2em;
  }

  section {
    width: 100%;
    min-height: 100vh;
    padding: 0 2em;
  }

  .flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .card {
    max-width: 40%;
    padding: 2em;
    border-radius: 2em;
  }

  .nav-list {
    gap: 2em;
  }
}
